[unit]
Description = RPI status
After = network-online.target

[Service]
ExecStart=/usr/bin/python3 -u monitor.py 
ExecStartPre=/bin/sleep 10
WorkingDirectory=/home/pi/ework
Restart=always
User=root

[Install]
WantedBy = multi-user.target
